@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    cursor: pointer;
    padding-top: 2rem;
    margin-left: 2rem;
}

header .logo img {
    width: 45%;
}

header nav ul {
    list-style: none;
    padding-top: 2rem;
}

header nav ul li {
    display: inline;
    margin-right: 3rem;
}

header nav ul li a {
    color: hsl(238, 22%, 44%);
    text-decoration: none;
    position: relative;
}

header nav ul li a::after {
    content: "";
    width: 0%;
    height: 0.2rem;
    background-color: #9874e0;
    position: absolute;
    border-radius: 1rem;
    bottom: -0.3rem;
    left: 50%;
    transition: 0.4s;
}

header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

body {
    height: 100vh;
    background: hsl(240, 75%, 98%);
}

.whole {
    justify-content: center;
    margin: 50px auto;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 584px) {
    .container {
        max-width: 90%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

input, select, textarea {
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 0 rgba(101, 200, 249, 0.1);
    height: 35px;
    padding: 10px;
    transition: border-color 0.5s ease;
    width: 100%;
    margin-bottom: 15px;
}

input:active, input:focus {
    border: 1px solid #b97be2;
    outline: none;
}

textarea {
    height: 100px;
}

textarea:active, textarea:focus {
    border: 1px solid #b97be2;
    outline: none;
}


@media only screen and (max-width: 600px) {
    header nav ul {
        font-size: 0.6rem;
    }

    header nav ul li {
        margin: 0.5rem;
    }
}

.container button.btn {
    left: 50%;
    transform: translateX(-50%);
    animation: 0.8s ease infinite alternate running shimmer;
    background: linear-gradient(90deg, #1c82e2 0%, #6a6cec 30%, #3032bb 85%);
    background-size: 200% 100%;
    border: none;
    display: inline-block;
    border-radius: 8px;
    box-shadow: -2px -2px 10px rgba(86, 71, 255, 0.5), 2px 2px 10px rgba(0, 8, 255, 0.5);
    color: #ffffff;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    padding: 12px 60px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}

@media only screen and (max-width: 600px) {
    .container button.btn {
        font-size: 14px;
        padding: 10px 50px;
    }
}
