<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notes</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'notes.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="logo">
        <a href="http://127.0.0.1:8000/"><img src="../static/images/logo.png" alt=""></a>
    </div>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="/logout/">Log Out</a></li>
        </ul>
    </nav>
</header>
<a href="/create_note/">
    <div class="plus-icon">
        <img src="../static/images/plus.png" alt="plus icon">
    </div>
</a>

<div class="wrapper" id="notes-container">
    <!-- Notes will be displayed here -->
</div>
<script src="{% static 'notes.js' %}"></script>
</body>
</html>
