{% extends 'base.html' %}

{% block title %}
    My Notes
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<section class="section">
    <div class="container">

        <form action="{% url 'create_note' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ id }}">

            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input type="text" class="input" name="title" placeholder="Title" {% if document %}
                           value="{{ document.title }}" {% endif %} required>
                </div>
            </div>

            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    <textarea name="content" class="textarea" placeholder="Content" required>{% if document %}
                        {{ document.content }}{% endif %}
                    </textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                    <input type="text" class="input" name="category" placeholder="Category" {% if document %}
                           value="{{ document.category }}" {% endif %} required>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Save</button>
                </div>
                {% if document %}
                    <div class="control">
                        <a href="{% url 'delete-note' document.id %}" class="button is-danger">Delete</a>
                    </div>
                {% endif %}
            </div>
        </form>

        <br><a  href="{% url 'notes' %}">Back to Notes</a>

    </div>
</section>
{% endblock %}
