<style>
    body {
        background-color: #f4f4f4; /* ваш колір фону */
    }
</style>
{% extends 'base.html' %}

{% block title %}
My Notes
{% endblock title %}

{% block nav %}
<div class="nav-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_note' %}">New Note</a>
    </li>
</div>
<div class="nav-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shared_notes' %}">Shared Notes</a>
    </li>
</div>
<div class="nav-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
    </li>
</div>
{% endblock nav %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #333;
        color: #fff;
        text-align: center;
    }

    main {
        max-width: 1000px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    ul {
        list-style-type: none;
        padding: 0;
    }


    .note-icon {
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 10px;
    }

    footer {
        text-align: center;
        padding: 1em;
        background-color: #333;
        color: #f4f4f4;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>

<section class="section">
    <main>
        {% if documents %}
        <ul>
            {% for document in documents %}
            <li style="border-bottom: 1px solid #eee; padding: 10px 0; position: relative;">
                <strong><a href="{% url 'view_note' document.id %}">{{ document.title }}</a></strong>
                <img class="note-icon" src="https://cdn-icons-png.flaticon.com/512/4659/4659027.png" alt="Note Icon">
                <br>
                {{ document.content }}
            </li>
            {% endfor %}

        </ul>
        {% else %}
        <p>No notes found.</p>
        {% endif %}
    </main>
    <div>
        <div class="content">
            {% block note_details %}{% endblock %}
        </div>
    </div>
</section>

{% endblock body %}
