{% extends 'base.html' %}

{% block title %}
My Notes
{% endblock title %}

{% block nav %}
<div class="nav-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_note' %}">New Note</a>
    </li>
</div>
<div class="nav-end">
<li class="nav-item">
    <a class="nav-link" href="{% url 'shared_notes' %}">Shared Notes</a>
</li>
</div>
<div class="nav-end">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
</li>
</div>
{% endblock nav %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<section class="section">
    <div class="columns">
        <div class="column is-2">
            <aside>
                <p class="menu-label">My Notes</p>
                <ul class="menu-list">
                    {% for doc in documents %}
                    <li><a href="{% url 'view_note' doc.id %}">{{ doc.title }}</a></li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div class="column is-10">
            {% block note_details %}{% endblock %}
        </div>
    </div>
</section>

{% endblock body %}
