{% extends 'base.html' %}

{% block title %}
    Share Notes
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <br><h2 class="title is-3">Share Note</h2>

    {% if note %}
        <div class="notification is-success">
            <p>Note Title: {{ note.title }}</p>
            <p>Note Content: {{ note.content }}</p>
        </div>
    {% else %}
        <div class="notification is-danger">
            <p>Note not found</p>
        </div>
    {% endif %}

    <form method="post" class="box">
        {% csrf_token %}

        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter username of shared user" name="username">
            </div>
        </div>


        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary">Save Changes</button>
            </div>
        </div>
    </form>
</div>
<a href="{% url 'notes' %}">Back to My Notes</a>
{% endblock body %}
