{% extends 'base.html' %}

{% block title %}
    User Statistics
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <section class="section">
        <div class="container">
            <h2 class="title is-3">User Statistics</h2>

            <div class="content">

                <h3 class="subtitle is-4">Your Notes:</h3>
                <ul>
                    {% for note in user_notes %}
                        <li>{{ note.title }} ({{ note.updated_at }})</li>
                    {% endfor %}
                </ul>

                <h3 class="subtitle is-4">Your Shared Accesses:</h3>
                <ul>
                    {% for shared_access in user_shared_accesses %}
                        <li>
                            <strong>Note:</strong> {{ shared_access.note.title }}<br>
                            <strong>Last Edit Time:</strong> {{ shared_access.last_edit}}<br>
                        </li>
                    {% endfor %}
                </ul>

                <a class="button is-info" href="{% url 'notes' %}">Back to My Notes</a>

            </div>
        </div>
    </section>
{% endblock body %}
