{% extends 'base.html' %}

{% block title %}
    Note Details
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<section class="section">
    <div class="columns">

        <div class="column is-10">
            <div class="container">
                <h2 class="title is-3">Note Details</h2>
                <div class="content">
                    <p><strong>Title:</strong> {{ note.title }}</p>
                    <p><strong>Content:</strong> {{ note.content }}</p>
                    <p><strong>Category:</strong> {{ note.category }}</p>
                    <p><strong>Time created:</strong> {{ note.created_at|date:"M. d, Y, H:i A" }}</p>
                    <p><strong>Time updated:</strong> {{ note.updated_at|date:"M. d, Y, H:i A" }}</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <a href="{% url 'edit_note' note.id %}" class="button is-primary">Edit Note</a>
                    </div>
                    <div class="control">
                        <a href="{% url 'delete_note' note.id %}" class="button is-danger">Delete Note</a>
                    </div>
            </div></div>
        </div>
    </div>
</section>

{% endblock body %}
